@charset "UTF-8";
/* CSS Document */

a{
	text-decoration: none;
	color: black;
}

.navbar{
	
	width: 100%;
	padding-top: 10px;
	float: left;
	margin: auto;
	z-index: 1;
	height: 70px;
	top: 0;
	position: fixed;
	background-color: white;
	box-shadow: 0 2px 5px 0px #F3F3F3;

}

.navbaritems{
	width: 80%;
}

.restofnavbar{
	align-items: center;
	float: right;
	margin: 20px;
	font-weight: 400;
	font-family: 'Barlow', 'sans-serif';
	text-decoration: none;
	color: black;
	height: 70px;
	
}

.restofnavbar a{
	padding: 20px 10px;
}

.restofnavbar:hover{
	/*animation-name: namecolour;
	animation-duration: 1s;
	animation-iteration-count: infinite;*/
	font-weight: 700;
}

.space{
	height: 95px;
}

@media only screen and (max-width: 735px) {
	.navbar{
		width: 100%;
		height: 70px;
		z-index: 1;
	}
	
	.restofnavbar a{
		font-size: 10pt;
		width: 25%;
		margin: auto;
		float: left;
		text-align: center;
		overflow-x: scroll;
	}
	.space{
		height: 135px;
	}
}

